body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
}

.account-container {
  max-width: 800px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1,
h2 {
  color: #512da8;
}

.account-info,
.orders-section,
.address-section {
  margin-bottom: 20px;
}

.account-actions button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 10px;
}

.account-actions button:hover {
  background-color: #0056b3;
}

/* breadcumb */
.breadcrumb {
  list-style: none;
  padding: 0;
  /* margin-bottom: 20px; */
  white-space: nowrap; /* Keep breadcrumbs on one line (optional) */
  overflow-x: auto; /* Enable horizontal scrolling (optional) */
}

.breadcrumb-item {
  display: inline-block;
  font-size: 14px;
  margin-right: 10px; /* Add spacing between items */
}

.breadcrumb-item a {
  text-decoration: none;
  color: var(--eerie-black);
  display: inline;
}

.breadcrumb-item a:hover {
  text-decoration: underline;
}

.breadcrumb-item.active {
  font-weight: bold;
  color: var(--eerie-black);
}

/* Optional: Add a subtle visual separator using borders or background */
.breadcrumb-item + .breadcrumb-item::before {
  display: inline-block;
  content: ""; /* No content for the separator */
  width: 1px; /* Adjust width as needed */
  height: 14px; /* Adjust height to match font size */
  background-color: #ccc; /* Light gray color */
  margin: 0 10px; /* Adjust margins for spacing */
  vertical-align: middle; /* Align the separator vertically */
}
